<div class="modal" id="popup-account-user">
  <div class="modal-content">
    <app-navbar data-page="account-nav"></app-navbar>

    <div class="wrapper">
      <div class="main-container">
        <div class="left-section">
          <div class="profile-card">
            <img
              class="profile-img"
              src="/src/assets/temp_img.jpg"
              alt="Profile Picture"
            />
          </div>
          <div class="profile-button">
            <button id="add-icon">Add icon</button>
          </div>
          <p>Email:</p>
          <p>Joined:</p>
        </div>

        <div class="right-section">
          <h2>Username</h2>
        </div>
      </div>

      <div class="button-container">
        <button id="signup-from-account">Sign up</button>
      </div>
    </div>
  </div>
</div>
