<div class="modal" id="popup-commentbar">
  <div class="modal-content">
    <app-navbar data-page="comment-bar-nav" class="popup-navbar"></app-navbar>
    <div class="wrapper">
      <section class="comment-container">
        <div class="header">
          <h3>Comment</h3>
          <p>"Through comments, we offer context, not just content."</p>
        </div>
        <form>
          <textarea
            class="post-comment"
            type="text"
            placeholder="Type your comment here..."
          ></textarea>
        </form>
      </section>

      <div class="right-section">
        <div class="icon-container">
          <button id="add-button" onclick="insert_Comment('$postId','$parentId')">Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>

//footer 3 parameters : postID, forumID, commentID

<script>
  async function insert_Comment(postId, parentId) {
    let comment = document.querySelector(".post-comment").value;
    // let postId = postId;
    // let parentId = parentId;

    let form = new FormData();
    form.append("insert_Comment", 1);
    form.append("postId", postId);
    form.append("parentId", parentId);
    form.append("comment", comment);
    
    

    let response = await (
      await fetch("/module/SQL_on_PHP/CREATECOMMENT_LISTENER.php", {
        method: "POST",
        body: form,
      })
    ).text();
    let code = new DOMParser()
      .parseFromString(response, "text/html")
      .body.style.getPropertyValue("--code");
    console.log(code);

    closeModal();
  }
</script>
