<div class="modal" id="popup-signup">
  <div class="modal-content">
    <app-navbar data-page="signup-nav"></app-navbar>
    <div class="login-card">
      <h2>Hi there!</h2>
      <form method="POST">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" required />

        <label for="uname">Username</label>
        <input id="uname" name="uname" type="text" required />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />

        <span class="alt-link">
          <a href="#" id="login-from-signup">Already have an account?</a>
        </span>
      </form>
      <button id="button-signUp">Sign up</button>
    </div>
  </div>
</div>
