<div class="modal" id="popup-writeforum">
  <div class="modal-content">
    <app-navbar data-page="write-forum-nav" class="popup-navbar"></app-navbar>
    <div class="wrapper">
      <div class="container">
        <div class="left-section">
          <h3 class="title">Title</h3>
          <form class="title-form">
            <input
              type="text"
              class="title-input"
              placeholder="Enter forum title..."
            />
          </form>
        </div>

        <div class="right-section">
          <div class="icon-container">
            <button class="add-icon-button">Add icon</button>
          </div>
          <div class="banner-container">
            <button class="add-banner-button">Add banner</button>
          </div>
        </div>
      </div>

      <div class="description-container">
        <h3>Description</h3>
        <form>
          <textarea
            class="post-desc"
            type="text"
            placeholder="Write a short description..."
          ></textarea>
        </form>
        <div class="post-btn-container">
          <button class="post-btn">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
