<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/src/css/global.css" rel="stylesheet" />
    <link href="/src/css/nav.css" rel="stylesheet" />
    <link href="/src/css/account.css" rel="stylesheet" />
    <script src="/src/components/navbar.js"></script>
    <script src="/src/components/modalloader.js"></script>
  </head>
  <body>
    <app-navbar data-page="account-nav"></app-navbar>

    <main>
      <div class="main-container">
        <div class="left-section">
          <div class="profile-card">
            <!-- laurel if admin -->
            <img
              class="profile-img"
              src="$user_profilePic"
              alt=""
              srcset=""
            />
          </div>
          <div class="profile-button">
            <button id="add-icon">Add icon</button>
          </div>
          <p>Email:$user_email</p>
          <p>Joined:$user_createdAt</p>
        </div>
        <div class="right-section">
          <h2>$user_username</h2>
        </div>
      </div>
      <div class="button-container">
        <!-- sign up/ log out -->
        <button id="sign-up">Sign up</button>
      </div>
    </main>
  </body>
</html>
