<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forum page - LetMeKnow</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/src/css/global.css" rel="stylesheet" />
    <link href="/src/css/forum.css" rel="stylesheet" />
    <link href="/src/css/footer.css" rel="stylesheet" />
    <link href="/src/css/nav.css" rel="stylesheet" />

    <script src="/src/components/footer.js"></script>
    <script src="/src/components/navbar.js"></script>
  </head>
  <body>
    <app-navbar data-page="forum-nav"></app-navbar>

    <main>
      <img class="banner" src="$forum_banner" alt="" srcset="" />
      <div class="forum-detail-card">
        <img
          src="$forum_icon"
          
          class="forum-avatar-floating"
        />
        <p class="forum-date">$forum_createdAt</p>

        <div class="forum-detail-card-header">
          <div class="title-container">
            <h2 class="forum-title">$forum_name</h2>
          </div>
          <p class="forum-description">
            $forum_descriptions
          </p>
        </div>
      </div>

      <div class="post-card"  repeat>
        <div class="top-card">
          <h2 class="post-title">$post_title</h2>
          <div class="right-section">
            <h2 class="post-date">$post_createdAt</h2>
            <p class="post-like">Liked by ! <span class="like">$post_like</span></p>
          </div>
        </div>
        <img src="$postPicture_pictures" alt="" class="post-img" />
      </div>

      <app-footer data-page="forum-footer"></app-footer>
    </main>
  </body>
</html>
