<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../css/homepage.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <h1>LetMeKnow</h1>
      <form>
        <input class="search" type="text" placeholder="Search..." />
      </form>
      <img src="../assets/circle.png" alt="" />
    </nav>

    <main>
      <div class="top-card">
        <img src="../assets/temp_img.jpg" alt="" class="card-photo" />
        <div class="card-heading">
          <h2 class="card-title">Jew Jew Jew Jew Jew</h2>
          <span class="card-contrib">250 contributors</span>
        </div>
        <p class="card-desc">
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="bottom-card">
        <p class="card-content"></p>
      </div>
    </main>
  </body>
</html>
