<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage - LetMeKnow</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/src/css/homepage.css" rel="stylesheet" />
    <link href="/src/css/global.css" rel="stylesheet" />
    <link href="/src/css/nav.css" rel="stylesheet" />
    <link href="/src/css/footer.css" rel="stylesheet" />

    <script src="/src/components/account.js"></script>
    <script src="/src/components/navbar.js"></script>
    <script src="/src/components/footer.js"></script>
  </head>
  <body>
    <app-navbar data-page="homepage-nav"></app-navbar>

    <main>
      <div class="card-container" repeat>
        <a href="/src/php/forum.php?forum_id=$forum_id">
          <div class="top-card">
            <img class="card-photo" src="$forum_icon" />
            <div class="card-heading">
              <h2 class="card-title">$forum_name</h2>
              <span class="card-contribution">$forum_contributor</span>
            </div>
            <p class="card-desc">$forum_descriptions</p>
          </div>
        </a>

        <div class="bottom-card">
          <div class="card-content" repeat>
            <h3 class="post-title">$post_title</h3>
            <p class="post-description">$post_contents</p>
          </div>
        </div>
      </div>
    </main>

    <app-footer data-page="homepage-footer"></app-footer>
    <div id="modal" class="modal hidden"></div>
    <script src="/src/components/modalLoader.js"></script>
  </body>
</html>
