nav {
  background-color: #ffb66d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  color: #120754;
  font-family: "Shrikhand", cursive;
}

.search {
  width: 40rem;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid #000;
  padding-left: 2rem;
}

nav img {
  width: 5rem;
  height: 5rem;
}

.profile-btn,
.back-button {
  cursor: pointer;
  background: none;
  border: none;
}

app-navbar.navbar-post-nav nav {
  justify-content: space-between;
  padding: 0 5rem;
}

#back-btn {
  transform: scale(2.2);
}

app-navbar.navbar-post-nav form {
  display: none;
}

app-navbar.navbar-account-nav nav {
  justify-content: space-between;
  padding: 0 5rem;
}
